body {
    background-image: url("https://www.google.com/search?q=healing&sxsrf=ALeKk02yBGC7udGeWZi-F4jqDeqZ1UzF2A:1602342838420&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjnysSdqKrsAhWhz4UKHVT4BbEQ_AUoAXoECBoQAw&biw=1366&bih=631#imgrc=w_C90IwUGMDr9M");
  }
  <h1 style="color:Tomato;">What is hezling?</h1>
  p1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
